body {
    background: url(../images/shiny.jpg);
    background-blend-mode: hue;
}

.header {
    text-align: center;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    color: blueviolet;
}
#instructions  {
    text-align: center;
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    color: blueviolet;
}
#ruleList {
    font-size: 20px;
    padding: 2px;
    text-align: center;
}

p {
    margin-bottom: 5px;
}


/* Number to get and player score */
#attributes {
    color: blueviolet;
    text-align: center;
}
/* gem image styling */
#white {
    height: 150px;
    width: 150px;
    float: left;
}

#red {
    height: 150px;
    width: 150px;
    float: left;
}

#blue {
    height: 150px;
    width: 150px;
    float: left;
}

#yellow {
    height: 150px;
    width: 150px;
    float: left;
}