h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    color: blueviolet;
}
#instructions  {
    text-align: inherit;
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    color: blueviolet;
}
#rules {
    font-size: 20px;
    padding: 2px;
}
p {
    margin-bottom: 5px;
}


/* Number to get and player score */
#attributes {
    color: blueviolet;
}
/* gem image styling */
#white {
    height: 150px;
    width: 150px;
    float: left;
}

#red {
    height: 150px;
    width: 150px;
    float: left;
}

#blue {
    height: 150px;
    width: 150px;
    float: left;
}

#yellow {
    height: 150px;
    width: 150px;
    float: left;
}